<h1>Sign up</h1>
<h3>All fields are required</h3>
<%= form_for @user do |f| %>

    <%= render "shared/error_messages", :target => @user %>
    <div class = "field">
      <%= f.label :displayname, "Display Name" %>
      <%= f.text_field :displayname %>
    </div>
    <div class = "field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class = "field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class = "field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
      <div class="actions">
        <%= f.submit "Register", :class=>"btn btn-primary" %>
      </div>
<%  end %>