<%= image_tag "inspire.png" %>
<div class="row-fluid">
    <div class="span12">
      <h3 class="muted">Works on all these platforms...</h3>
      <%= image_tag "android.png"%>
      <%= image_tag "apple.png"%>
      <%= image_tag "windows.png"%>
      <%= image_tag "linux.png", :size=>"48x48" %>
      <%= image_tag "brw-explorer.png"%>
      <%= image_tag "brw-chrome.png", :size=>"48x48" %>
      <%= image_tag "brw-safari-02.png", :size=>"48x48" %>
    </div>
    <ul class="thumbnails">
      <li class="span4">
        <h3>A place to be inspired</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </li>
      <li class="span4">
        <h3>Organised</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </li>
      <li class="span4">
        <h3>Discover and Share</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </li>
    </ul>
</div>